@font-face {
  font-family: 'PoppinsRegular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
